<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Persona</title>
  </head>
  <body>
    <a href="{{url_for('index')}}">Regresar</a>
    <h1>Detalle de Persona</h1>
    <p>Nombre: {{persona.nombre}}</p>
    <p>Apellido: {{persona.apellido}}</p>
    <p>Email: {{persona.email}}</p>
    <a href="{{url_for('editar', id=persona.id)}}">Editar</a>
    <a href="{{url_for('eliminar', id=persona.id)}}">Eliminar</a>
  </body>
</html>
