<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <h1>Listado de personas</h1>
    <div>
      <a href="{{url_for('agregar')}}">Agregar</a>
    </div>
    <div>
      <table border="1">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for persona in personas %}
          <tr>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellido}}</td>
            <td>{{persona.email}}</td>
            <td>
              <a href="{{url_for('verDetalle',id=persona.id)}}">Detalle</a>
              <a href="{{url_for('editar', id=persona.id)}}">Editar</a>
              <a href="{{url_for('eliminar', id=persona.id)}}">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
